/*  Drop Cap
--------------------------------------------- */
.post .entry-content p:first-child:first-letter { 
	color: #005486 ; 
	float: left; 
	font-family: 'Old Standard TT', serif;
	font-size: 95px; 
	line-height: 60px;
	padding-right: 4px;
}
	
/* Entries
--------------------------------------------- */

.entry {
    margin-bottom: 0px;
    padding: 0px 20px 24px 0;
    border-radius: 3px;
    background-color: #efeeea;
}

.entry-content a {
    color: #916928;
    font-style: italic;
    font-weight: 600;
}

.entry-content a:hover {
	color: #005486;
}

.entry-content .attachment a,
.entry-content .gallery a {
	border: none;
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption {
	margin-bottom: 26px;
}

.entry-content ol,
.entry-content ul {
	margin-left: 40px;
}

.entry-content ol li {
	list-style-type: decimal;
}

.entry-content ul li {
	list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.entry-content .search-form {
	width: 50%;
}

.entry-meta {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: #bbb;
	font-family: 'Old Standard TT', serif;
	font-size: 12px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 7px 0 7px 0;
	text-transform: lowercase;
}

.entry-time, .entry-author {
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-style: normal;
	text-transform: uppercase;
}

.entry-header .entry-meta {
    margin-bottom: 20px;
}

.entry-footer .entry-meta {
	border-top: 2px solid #f5f5f5;
	margin: 0 -40px;
	padding: 32px 40px 8px;
}

.entry-comments-link::before, .entry-categories::before {
	content: "|";
	margin: 0 6px 0 2px;
}

.entry-categories a {
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	font-style: normal;
	text-transform: uppercase;
}

.entry-comments-link {
	text-transform: none;
}

.archive-description {
    padding: 40px 0px 0px;
}

.archive-description, .author-box {
    margin-bottom: 40px;
    background-color: #efeeea;
}

/* Pagination
--------------------------------------------- */

.archive-pagination,
.entry-pagination {
	font-family: 'Old Standard TT', serif;
	font-size: 14px;
	margin: 40px 0;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	background-color: #ddd;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 8px 12px;
}

.archive-pagination li a:hover,
.archive-pagination li.active a {
	background-color: #999;
}

.entry-pagination a {
	border-bottom: 1px solid #ddd;
}

/* Comments
--------------------------------------------- */

#respond textarea {
	color: #999;
	font-family: 'Open Sans', serif;
	font-size: 16px;
	text-transform: none;
}

.comment-respond,
.entry-comments,
.entry-pings {
	background-color: #f5f5f5;
	margin-bottom: 40px;
}

.comment-respond {
	border: 1px solid #ddd;
}

.entry-comments {
	padding: 1em;
}

.comment-respond,
.entry-pings {
	padding: 40px 40px 16px;
}

.comment-content {
	clear: both;
}

.entry-comments .comment-author {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	text-transform: uppercase;
}

.comment-meta {
	font-family: 'Old Standard TT', serif;
}

.says {
	font-family: 'Old Standard TT', serif;
	font-style: italic;
	text-transform: lowercase;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%
}

.comment-respond label {
	display: block;
	font-family: 'Montserrat', sans-serif;
	margin-right: 12px;
	text-transform: uppercase;
}

.comment-subscription-form .subscribe-label {
	font-size: 12px;
	margin: 0;
}

p.comment-subscription-form {
	margin: 0 0 4px 0;
}

p.logged-in-as {
	margin: 0 0 2px 0;
}

.comment-list li,
.ping-list li {
	list-style-type: none;
}

.comment-list li {
	margin-top: 24px;
	padding: 32px;
}

.comment-list li li {
	border-right: none;
	margin-right: -32px;
}

li.comment {
	background-color: #fff;
	border: 1px solid #ddd;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

.entry-pings .reply {
	display: none;
}

.bypostauthor {
	background-color: #f5f5f5 !important;
	border-right: none;
}

.form-allowed-tags {
	background-color: #f5f5f5;
	display: none;
	font-size: 14px;
	padding: 24px;
}

.commentnumber {
	float: right;
	font-family: 'Old Standard TT', serif;
	font-size: 40px;
}

/* Color Buttons
------------------------------------------------------------ */
 
.button-blue,
.button-gray,
.button-green,
.button-purple,
.button-red,
.button-yellow {
    color: #fff;
    padding: 5px 10px;
}
 
.button-blue:hover,
.button-gray:hover,
.button-green:hover,
.button-purple:hover,
.button-red:hover,
.button-yellow:hover {
    text-decoration: none;
}
 
.button-blue {
    font-family: Montserrat,arial,sans-serif;
    font-size: 16px;
    color: #464D63 !important;
    padding: 1.5em;
    box-shadow: 0 2px 16px 5px rgba(0,0,0,.35)!important;
    border: 7px solid #fff;
    background-color: #bfd5e6;
    font-style: normal !important;
}
 
.button-blue:hover {
    background-color: #83a2be;
    padding: 1.5em;
    font-size: 16px;
    color: #464D63 !important;
    box-shadow: 0 2px 16px 5px rgba(0,0,0,.35)!important;
    font-family: "Montserrat", arial, sans-serif;
    border: 7px solid #fff;
    font-style: normal !important;
}
 
.button-gray {
    background-color: #bdbdbd;
    border: 1px solid #bdbdbd;
}
 
.button-gray:hover {
    background-color: #919191;
    border: 1px solid #919191;
}
 
.button-green {
    background-color: #b2ce96;
    border: 1px solid #b2ce96;
}
 
.button-green:hover {
    background-color: #86a36e;
    border: 1px solid #86a36e;
}
 
.button-purple {
    background-color: #bebde9;
    border: 1px solid #bebde9;
}
 
.button-purple:hover {
    background-color: #9291c7;
    border: 1px solid #9291c7;
}
 
.button-red {
    background-color: #e9b3b3;
    border: 1px solid #e9b3b3;
}
 
.button-red:hover {
    background-color: #c78787;
    border: 1px solid #c78787;
}
 
.button-yellow {
    background-color: #fadf98;
    border: 1px solid #fadf98;
}
 
.button-yellow:hover {
    background-color: #ecb870;
    border: 1px solid #ecb870;
}

/*----NEW INNER WRAP-----*/
div.new-inner-wrap {
margin: auto 6em;
}

/*----HOME BUTTON MARGIN-----*/

.home-button-margin {
	margin: 2em 0;
}

/*-----ABOUT PAGE HERO TEXT----*/
.about-text {
    width: 75%;
    margin: 1em auto;
    padding: 4em 9em;
    border: 10px solid #bfd4e5;
    background-color: rgba(192,213,231,.6);
}

.about-text h4 {
	line-height: 1.3em;
}

/*--_____SERVICES PAGE MARGIN ENTRIES------*/

 .services-page .entry-content p {
 	margin-bottom: 42px;
 }

  .services-page .first {
    clear: both;
    margin-bottom: 0em;
    margin-left: 0;
}

/*--------FIX SERVICES PAGE BUTTON MARGINS--------*/

.patient-resources a.button-blue {
	margin: .5em 0;
    display: inline-block;
}
