.footer-widgets {
	background-color: #EFEEEA !important;
	border-top: 0px solid #ddd;
	color: #999;
	clear: both;
}

.footer-widgets p {
	font-family: 'Open Sans' serif;
	font-size: 18px;
}

.footer-widgets p {
    font-family: "Open Sans",serif;
    font-size: 18px;
}

.footer-widgets-1 {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin-right: auto !important;
    margin-left: auto !important;
}

.footer-widgets-1 {
	padding-right: 0px;
}

.footer-widgets-1:after {
	border-right: 1px solid #ddd;
}

.footer-widgets-1 {
	float: left;
}

/*-.footer-widgets-2:after {
	border-right: 1px solid #ddd;
}


.footer-widgets-2 {
	border-left: 1px solid #ddd;
	float: left;
	padding: 40px 20px 20px 30px;
	width: 33.33333%;
}

.footer-widgets-3 {
	border-left: 1px solid #ddd;
	float: left;
	padding: 40px 0 20px 30px;
	width: 33.33333%;
}

.footer-widgets-3 {
	padding-right: 40px;
}--*/

.footer-widgets a {
	border-bottom: 1px solid #ddd;
	color: #916928;
	font-family: 'Open Sans', serif;
	font-style: italic;
	text-transform: lowercase;
}

.footer-widgets a:hover {
	color: #005486;
}

.footer-widgets .widget {
    margin-bottom: 0px;
}

.footer-widgets .widgettitle {
	color: #bbb;
	font-family: 'Montserrat', serif;
	font-size: 16px;
	text-transform: uppercase !important;
	text-transform: none;
}

.footer-widgets-1 .widget-title {
	text-align: left !important;
}

.footer-widgets-2 .widget-title {
	text-align: left !important;
}

.footer-widgets-3 .widget-title {
	text-align: left !important;
}

.footer-widgets li {
	list-style-type: none;
	margin-bottom: 6px;
	word-wrap: break-word;
}

.footer-widgets .search-form input:focus {
	border: 1px solid #ddd;
}

/*---FOOTER PADDING----*/
#text-10 .site-inner {
	padding-top: 40px !important;
}