
.content div.sharedaddy div.sd-block {
    padding: 0;
    border-top: 0px dashed #ddd;
    border-bottom: 0px dashed #ddd;
}

.content div.sharedaddy .sd-content {
    float: left;
    padding: 5px 60px 10px 0;
    clear: left;
}

.content div.sharedaddy a.sd-button {
	border: none !important;
	box-shadow: none;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px;
}

.content .sd-social-icon-text a.sd-button > span, a.sd-button > span {
	opacity: 1;
	padding: 6px 18px;
}

.content a.sd-button > span {
	background-image: none !important;
	background: #BFD5E6;
	border: none;
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.content a.sd-button:hover > span {
	background: #bbb;
}

.sd-content .sd-button span.share-count {
	color: #bbb !important;
	font-size: 100% !important;
}

.content .sd-social-icon-text a.sd-button>span, a.sd-button>span {
    padding: 4px 18px 4px 18px;
    opacity: 1;
}

