@media only screen and (max-width: 1139px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-sidebar-content .content-sidebar-wrap {
		width: 740px;
	}

	.content,
	.site-header .widget-area {
		width: 620px;
	}

	.sidebar-content-sidebar .content,
	.sidebar-sidebar-content .content,
	.content-sidebar-sidebar .content {
		width: 400px;
	}

	.sidebar-primary,
	.title-area {
		width: 300px;
	}



}

@media only screen and (max-width: 1023px) {

	body {
		background-color: #fff;
	}

	.content,
	.content-sidebar-sidebar .content,
	.content-sidebar-sidebar .content-sidebar-wrap,
	.sidebar-content-sidebar .content,
	.sidebar-content-sidebar .content-sidebar-wrap,
	.sidebar-primary,
	.sidebar-secondary,
	.sidebar-sidebar-content .content,
	.sidebar-sidebar-content .content-sidebar-wrap,
	.site-header .widget-area,
	.site-inner,
	.title-area,
	.wrap {
		width: 100%;
	}

	.top-bar-left,
	.top-bar-right {
		display: block;
		margin: 10px auto;
	}

	.site-header .wrap {
		padding: 20px 0;
	}

	.header-image .site-header .wrap {
		background-position: center top;
	}

	.site-inner {
		padding-left: 5%;
		padding-right: 5%;
	}

	.archive-description,
	.author-box,
	.comment-respond,
	.entry,
	.entry-comments,
	.entry-footer .entry-meta,
	.header-image .site-header .widget-area,
	.site-header {
		padding: 0;
	}

	.comment-respond {
		padding: 10px;
	}

	.genesis-nav-menu li,
	.site-header ul.genesis-nav-menu,
	.site-header .search-form {
		float: none;
	}

	.genesis-nav-menu,
	.site-description,
	.site-header .title-area,
	.site-header .search-form,
	.site-title {
		text-align: center;
	}

	.site-header .search-form {
		margin: 16px auto ;
	}

	.genesis-nav-menu li.right {
		display: none;
	}

	.entry-footer .entry-meta {
		margin: 0;
		padding-top: 12px;
	}

	.sidebar .widget.enews-widget {
		padding: 40px;
	}

	.site-footer {
		padding: 24px 0;
	}

	.alignleft .avatar, .alignright .avatar {
		float: left;
		max-width: 100px !important;
	}

}

@media only screen and (max-width: 769px) {


.about-text {
    width: 100%;
    margin: 1em auto;
    padding: 1em 1em;
}

.viba-portfolio-single-item {
    float: none;
    display: block;
    width: 100% !important;
}

	.top-bar {
		padding: 10px 20px 0px 20px;
	}

	.featured-circles .widget {
		margin: 20px 0 0 0 !important;
		padding: 0 0 10px 0 !important;
		width: 40%;
	}

	.featured-circles .featured-content .entry {
		padding: 0 !important;
	}

	.featured-circles .entry-title a, .featured-circles .widgettitle {
		font-size: 14px;
	}

	.enews-widget input, .enews-widget input[type="submit"] {
		width: 100%;
	}

	.enews-widget input {
		margin-bottom: 7px;
	}

	.five-sixths,
	.four-sixths,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fourths,
	.three-sixths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		margin: 0;
		width: 100%;
	}

	.comment-respond {
		border: 0px solid #ddd;
	}

	.footer-widgets {
		padding-left: 20px;
		padding-right: 20px;
	}

	.home-featured-area .widget {
		display: block;
		margin-bottom: 0px;
		margin-top: 20px;
		width: 100%;
	}

	.home-featured-area .featured-content .entry {
		padding-bottom: 0;
	}

	.footer-widgets-2 {
		border-left: 0;
	}

}



@media only screen and (max-width: 520px) {
	.featured-circles .entry-title a, .featured-circles .widgettitle {
		display: none;
	}

	/*----NEW INNER WRAP-----*/
div.new-inner-wrap {
margin: auto 0;
}

.about-text {
    width: 100%;
    margin: 1em auto;
    padding: 1em 1em;
}

.viba-portfolio-single-item {
    float: none;
    display: block;
    width: 100% !important;
}
}


/*----------IPHONE 5-----------*/
@media only screen and (min-device-width: 320px) and (max-device-width : 568px)  {

.top-bar {
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    line-height: 1;
    float: right;
    width: 100%;
    margin-top: -15em;
    margin-right: -10em;
    padding-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #999;
    background-color: transparent;
}

.top-bar-right {
    width: 100%;
}

.site-title {
    font-size: 58px;
    line-height: .8;
    width: 450px !important;
    margin: 0px 0em 8px -1.92em;
    text-transform: none;
}	

.top-bar-right {
    display: block;
    margin: 10px 1em;
}



/*----NEW INNER WRAP-----*/
div.new-inner-wrap {
margin: auto 0;
}

.vp-style-staff-portfolio.viba-portfolio-wrapper {
    margin-top: 50em;
    padding: 0;
}

.viba-portfolio-single-item {
    float: none;
    display: block;
    width: 100% !important;
}

.about-text {
    width: 100%;
    margin: 1em auto;
    padding: 1em 1em;
}

	.featured-circles .widget {
		padding: 5px 5px;
	}

	.featured-circles {
		border: none;
	}

	.footer-widgets {
		border: none;
	}

	.site-container {
		overflow: hidden;
	}

	.footer-widgets {
		border: none;
	}

	.footer-widgets-1, .footer-widgets-2 {
		display: block;
		float: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		width: 100%;
	}

	.footer-widgets-1 {
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		padding-top: 20px;
	}

	.footer-widgets-2 {
		border-left: 0;
		margin: 0 auto;
		padding-top: 20px;
		text-align: center;
	}

	.footer-widgets-1 .widgettitle, .footer-widgets-2 .widgettitle, .footer-widgets .enews .widgettitle {
		float: none;
		text-align: center !important;
	}

	.site-footer p {
		padding: 0 20px;
	}

	.footer-widgets .widget_nav_menu {
		float: none;
	}

	.footer-widgets p {
		line-height: 28px;
	}

    .button-blue {
    font-size: 12px;
    /* width: 50%; */
    padding: 1.5em;
    color: #464d63!important;
    border: 7px solid #fff;
    background-color: #bfd5e6;
    box-shadow: 0 2px 16px 5px rgba(0,0,0,.35)!important;
}

    #text-12 > div > div > h5 {
    	margin-top: 1em;
    }



.featured-circles {
    padding-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/*---HOMEPAGE APPOINT CALL-----*/
#text-8>div>div {
 margin-top: 1em;
}

#text-8 {
    min-height: 6em;
    background: none;
}

/*-.above-post-hero {
    margin-bottom: -4.7em;
}-*/

.heading-top {
    width: 100%;
    padding-top: .5em;
    border-top: 2px #005486 solid;
}

/*---HIDE TESTIMONIAL SLIDERS ON IPHONE-----*/
div.hide-slide {
display: none !important;	
}



}

/*----------IPHONE 6-----------*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {
.top-bar {
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    line-height: 1;
    float: right;
    width: 100%;
    margin-top: -15em;
    margin-right: -10em;
    padding-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #999;
    background-color: transparent;
}

.top-bar-right {
    width: 100%;
}

.viba-portfolio-single-item {
    float: none;
    display: block;
    width: 100% !important;
}

.vp-style-staff-portfolio.viba-portfolio-wrapper {
    margin-top: 42em;
    padding: 0;
}

.site-title {
    font-size: 58px;
    line-height: .8;
    width: 450px !important;
    margin: 0px 0em 8px -1.459em;
    text-transform: none;
}

.footer-widgets p {
		line-height: 28px;
	}

	#text-12 > div > div > h5 {
    	margin-top: 1em;
    }



.featured-circles {
    padding-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#text-8>div>div {
 margin-top: 1em;
}

#text-8 {
    min-height: 6em;
    background: none;
}

/*-.above-post-hero {
    margin-bottom: -4.7em;
}-*/

.heading-top {
    width: 100%;
    padding-top: .5em;
    border-top: 2px #005486 solid;
}
.doc-resources .heading-top {
    width: 100%;
    padding-top: .5em;
    border-top: 2px #005486 solid;
}

}

/*----------IPHONE 6 PLUS-------*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) {
.top-bar {
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    line-height: 1;
    float: right;
    width: 100%;
    margin-top: -15em;
    margin-right: -10em;
    padding-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #999;
    background-color: transparent;
}

.viba-portfolio-single-item {
    float: none;
    display: block;
    width: 100% !important;
}

.top-bar-right {
    width: 100%;
}

.site-title {
    font-size: 58px;
    line-height: .8;
    width: 450px !important;
    margin: 0px 0em 8px -1.12em;
    text-transform: none;
}

.footer-widgets p {
		line-height: 28px;
	}

	#text-12 > div > div > h5 {
    	margin-top: 1em;
    }



.featured-circles {
    padding-bottom: 1em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#text-8>div>div {
 margin-top: 1em;
}

#text-8 {
    min-height: 6em;
    background: none;
}

.vp-style-staff-portfolio.viba-portfolio-wrapper {
    margin-top: 42em;
    padding: 0;
}

.heading-top {
    width: 100%;
    padding-top: .5em;
    border-top: 2px #005486 solid;
}


/*---HIDE TESTIMONIAL SLIDERS ON IPHONE-----*/
div.hide-slide {
display: none !important;	
}

.doc-resources .heading-top {
    width: 100%;
    padding-top: .5em;
    border-top: 2px #005486 solid;
}

}

/*--IPAD---*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 

.vp-style-staff-portfolio.viba-portfolio-wrapper {
    margin-top: 230em;
    padding: 0;
}

.top-bar {
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    line-height: 1;
    float: right;
    width: 100%;
    margin-top: -15em;
    margin-right: -7em;
    padding-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #999;
    background-color: transparent;
}

/*-.above-post-hero {
    margin-bottom: -4.7em;
}-*/

.nav-primary li a::after,
	.nav-secondary li a::after {
		content: "";
	}
	
	.menu-toggle {
		border: 1px solid #ddd;
	}

	.menu-toggle,
	.sub-menu-toggle {
		display: block;
		font-size: 25px;
		font-weight: 400;
		margin: 0 auto !important;
		overflow: hidden;
		padding: 10px;
		text-align: center;
		visibility: visible;
	}
	button.menu-toggle {
		width: 100%;
	}

	button.menu-toggle,
	button.sub-menu-toggle {
		background-color: transparent;
		color: #999;
	}

	.sub-menu-toggle {
		padding: 4px;
		position: absolute;
		right: 0;
		top: 0;
	}

	.menu-toggle:before {
		content: "\2261";
	}

	.menu-toggle.activated:before {
		content: "\2191";
	}

	.sub-menu-toggle:before {
		content: "+";
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	.sub-menu-toggle.activated:before {
		content: "-";
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	nav {
		display: none;
		position: relative;
	}

	.genesis-nav-menu .menu-item {
    position: relative;
    display: block;
    text-align: left;
    background-color: #fff !important;
    }

	.genesis-nav-menu .menu-item:hover {
		position: relative;
	}

	.genesis-nav-menu .sub-menu {
		clear: both;
		display: none;
		opacity: 1;
		position: static;
		width: 100%;
	}

	.genesis-nav-menu .sub-menu a {
		border-left: 0;
		position: relative;
		width: auto;
	}

	.genesis-nav-menu .sub-menu .sub-menu {
		margin: 0;
	}

	.genesis-nav-menu .sub-menu .sub-menu a {
		background-color: #f5f5f5;
		padding-left: 30px;
	}

	.genesis-nav-menu .sub-menu .sub-menu .sub-menu a {
		background-color: #fff;
		padding-left: 40px;
	}

	.nav-primary a:hover,
	.nav-primary .current-menu-item > a {
		color: #888 !important;
	}

	.genesis-nav-menu > .first > a {
		padding-left: 14px;
	}

	.nav-primary .current-menu-item>a {
    padding-bottom: 18px;
    border-bottom: 0px #fff solid;
}

.genesis-nav-menu a {
    font-size: 13px;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 18px 0;
    color: #444;
    border: none;
}

#menu-primary {
    background-color: #fff !important;
}

.genesis-nav-menu>.menu-item>a {
    padding-right: .2em;
    padding-left: 1.3em;
    text-transform: uppercase;
}

.homepage-inner {
  padding-top: 12px; 
}
}
