.genesis-nav-menu {
    font-family: 'Open Sans', serif;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    clear: both;
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
}

.genesis-nav-menu .menu-item {
    display: inline-block;
    margin-right: 3em;
    text-align: center;
}

.genesis-nav-menu a {
	border: none;
	display: block;
	font-size: 13px;
	margin-left: auto;
    margin-right: auto;
	padding: 18px 0px;
	position: relative;
}

/*----SUB MENU ITEMS-----*/

ul.sub-menu li a {	
color: #999 !important;
}

ul.sub-menu li a:hover {
	color: #917d64 !important;
}

ul.sub-menu .current-menu-item {
	color: #e7e7e7;
}


/*---REMOVE LAST ITEM MARGIN-----*/
#menu-item-14 {
	margin-right: 0em !important;
}

#menu-primary-1 > li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-14 {
	margin-right: 0em !important;	
}

#menu-primary {
	background-color: #005486 !important;	
}

#menu-primary-1 {
	background-color: #EFEEEA !important;		
}

#menu-primary-1 a {
	background-color: #EFEEEA !important;	
	color: #444 !important;
}

#menu-primary-1 a:hover {
	background-color: #EFEEEA !important;	
	color: #999 !important;
}

#menu-primary-1 {
padding-bottom: 2em;
}

.nav-secondary .genesis-nav-menu a {
	padding: 18px 0 7px 15px;
}

.nav-primary li a::after {
	/*-color: #fff !important;
	content: "|";
	padding-left: 25px !important;
	padding-right: 25px !important;-*/
}

.genesis-nav-menu .sub-menu a::after {
	color: #fff !important;
	content: "";

}

.genesis-nav-menu > .last > a::after {
	color: #fff;
}

.genesis-nav-menu a:hover {
	color: #b8b8b8 !important;
}

.nav-primary .current-menu-item > a {
    border-bottom: 2px #fff solid;
    padding-bottom: 3px;
}

.genesis-nav-menu .sub-menu .current-menu-item {
	color: #916928 !important;

}

.genesis-nav-menu .sub-menu .current-menu-item > a {
	color: #916928 !important;
}

@media only screen and (min-device-width : 1025px) and (max-device-width : 1824px)  { 

.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
	padding-right: .20em;
    padding-left: .3em;
}	
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1024px)  { 
.genesis-nav-menu > .menu-item > a {
	text-transform: uppercase;
	padding-right: .20em;
    padding-left: .3em;
    color: initial #000 !important;
}	
}

.menu-item > a:hover{
	border-bottom: 2px solid #fff;
    padding-bottom: 3px;
    /*-width: 75%;-*/
    /*padding-right: 5px;
    padding-left: 5px;*/
}  

.menu-secondary > .menu-item > a:hover {
	border-bottom: 0px solid #fff;
    padding-bottom: 0px;
    color: #efefef;
}    

.genesis-nav-menu .sub-menu {
	left: -9999px;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition:    opacity .4s ease-in-out;
	-ms-transition:     opacity .4s ease-in-out;
	-o-transition:      opacity .4s ease-in-out;
	transition:         opacity .4s ease-in-out;
	width: 200px;
	z-index: 99;
}

.genesis-nav-menu .sub-menu a {
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: none;
	font-size: 12px;
	padding: 10px 20px;
	position: relative;
	width: 220px;
}

.genesis-nav-menu .sub-menu .sub-menu {
	margin: -39px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
	position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
	left: auto;
	opacity: 1;
}

.genesis-nav-menu > .first > a {
	padding-left: 0;
}

.genesis-nav-menu > .last > a {
	padding-right: 0;
}

.genesis-nav-menu > .right {
	display: inline-block;
	float: right;
	list-style-type: none;
	padding: 14px 7px 14px 0;
	text-transform: uppercase;
}

.genesis-nav-menu > .right > a {
	display: inline;
	padding: 0;
}

.genesis-nav-menu > .rss > a {
	margin-left: 48px;
}

.genesis-nav-menu > .search input {
	color: #ddd;
	padding: 10px;
	
}
.genesis-nav-menu > .right.search {
	padding: 8px;
}

/* Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
	border-top: 1px solid #eee;
}

.site-header .sub-menu .sub-menu {
	margin-top: -55px;
}

/* Primary Navigation
--------------------------------------------- */

.nav-primary {
	background-color: #fff;
	/*-border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;-*/
	-webkit-box-shadow: 0px -2px 16px 5px rgba(0, 0, 0, 0.35) !important;
	-moz-box-shadow: 0px -2px 16px 5px rgba(0, 0, 0, 0.35) !important;
	box-shadow: 0px -2px 16px 5px rgba(0, 0, 0, 0.35) !important;
    z-index: 1;
    position: relative;
}

.nav-primary .current-menu-item > a {
	color: #fff;
}

.nav-primary a:hover {
	color: #999;
}

.nav-primary .sub-menu a:hover {
	color: #555;
}

/* Secondary Navigation
--------------------------------------------- */

.nav-secondary {
	background-color: #EFEEEA !important;
	border-top: 0px solid #ddd;
	padding-top: 10px;
}

.nav-secondary li a::after {
    content: '|';
    color: #EFEEEA !important;
}