.site-footer {
	background-color: #fff;
	border-top: 0px solid #ddd;
	color: #ddd;
	font-size: 11px;
	padding: 10px 0;
	text-align: center;
}

.site-footer a {
	color: #bbb;
}

.site-footer a:hover {
	color: #999;
}

.site-footer p {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 0;
	text-transform: uppercase;
}