.vp-style-doc-portfolio .viba-portfolio-overlay {
    background-color: #265e6e;
    border-radius: 165px;
}

.vp-style-staff-portfolio .viba-portfolio-overlay {
    background-color: #265e6e;
    border-radius: 165px;
}

.viba-portfolio .viba-portfolio-title a, .viba-portfolio .viba-portfolio-title a:hover {    
	text-align: center;
}

.viba-portfolio .viba-portfolio-title {
    text-align: center;
}

.viba-portfolio .viba-portfolio-short-description {
	 text-align: center;
}

.vp-style-doc-portfolio.viba-portfolio-wrapper .viba-portfolio.vp-margins .viba-portfolio-item {
    padding: .5em 2.3em;
}

.vp-style-staff-portfolio.viba-portfolio-wrapper .viba-portfolio.vp-margins .viba-portfolio-item {
    padding: .5em 2.3em;
}

.vp-style-staff-portfolio .viba-portfolio .viba-portfolio-short-description p {
    font-size: .81em;
    line-height: 1.2em;
    text-transform: none;
    font-family: 'Raleway';
    font-weight: 400;
}

.vp-style-doc-portfolio .viba-portfolio .viba-portfolio-short-description p {
    font-size: .81em;
    line-height: 1.2em;
    text-transform: none;
    font-family: 'Raleway';
    font-weight: 400;
}

.vp-style-staff-portfolio.viba-portfolio-wrapper {
    margin-top: 122em;
    padding: 0;
}

.vp-style-staff-portfolio .viba-portfolio .viba-portfolio-title {
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    font-family: 'Open Sans' !important;
    font-weight: 400 !important;
}

.viba-portfolio-wrapper * {
    border-radius: 400px !important;
}

.viba-portfolio-title a, .viba-portfolio .viba-portfolio-title a:hover {
    font-style: normal !important;

}

.viba-portfolio-single-media * {
    border-radius: 400px !important;
}

/*--.viba-portfolio-single-item .viba-portfolio-single-media img {
    width: 65% !important;
    height: auto;
    display: block;
}--*/

.viba-portfolio-single-item {
    float: none;
    display: block;
    width: 1000px !important;
}

.vp-style-default .viba-portfolio .viba-portfolio-title {
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
}

.viba-portfolio-single-pagination {
    position: relative;
    margin-top: 50px;
    text-align: center;
    display: none;
}

.vp-style-default.viba-portfolio-wrapper .viba-portfolio.vp-margins {
    margin: 0px !important;
}